.top-box {
    border: solid black 5px;
    width: 96vw;
    padding: 20px;


}

.purple-box {
    height: 150px;
    width: 50px;
    background-color: purple;
    display: inline-block;
    margin-right: 50px;
}

.green-box {
    height: 200px;
    width: 400px;
    background-color: rgb(4, 128, 0);
    display: inline-block;
    margin-right: 50px;
}

.blue-circle {
    height: 200px;
    width: 200px;
    background-color: royalblue;
    display: inline-block;
    border-radius: 50%;
}

.middle-box {
    border: dotted 5px black;
    height: 300px;
    width: 94vw;
    margin: 30px auto;
    padding: 20px;   


}

.box-shadow {
    width: 80vw;
    height: 200px;
    background-color: blanchedalmond;
    margin: 50px auto;
    box-shadow: 8px 8px 8px black;


}

.bottom-box {
    height: 300px;
    height: 300px;
    width: 50vw;
    border: solid gray 1px;
    padding: 100px ;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    
}

p {
    font-size: 30px;
    color: navy;


}